.hero-banner {
  background-image: url("../../public/image/hero/heroBanner.png");
  background-size: cover;
}
/* Carousel */
.carousel-item {
  padding-top: 12px;
}
.shop-info--btn {
  align-items: center;
}
.arrow-right--icon {
  width: 15px;
  height: 15px;
  margin-left: 7px;
}
/* Indicators */
.hero-slider {
  overflow-x: hidden;
}
.carousel-inner {
  display: flex;
  /* transition: transform 2s ease-in-out; */
}
.carousel-item::before {
  position: absolute;
  color: red;
  font-style: 42px;
}
.carousel-item {
  max-width: 100%;
  min-width: 100%;
  position: relative;
}

.carousel-indicators {
  position: absolute;
  bottom: 25px;
  left: 175px;
}
